<?php

//
// {{ ansible_managed }}
//

define( 'DB_NAME',     '{{ wordpress_db_name }}' );
define( 'DB_USER',     '{{ wordpress_db_user }}' );
define( 'DB_PASSWORD', '{{ wordpress_db_password }}' );
define( 'DB_HOST',     '{{ wordpress_db_host }}' );
define( 'DB_CHARSET',  'utf8mb4' );

$table_prefix = 'wp_';

require '/tmp/wp-salt.php';

if ( !defined('ABSPATH') ) {
	define('ABSPATH', dirname(__FILE__) . '/');
}

require_once(ABSPATH . 'wp-settings.php');
